html[data-theme='light'] {
    --mainColor: #ffffff;
    --secondColor: #1a1617;
    --thirdColor: #312F2F;
    --accentColor: #F3A712;
    --secondAccentColor: #E4572E;
}


html[data-theme='dark'] {
    --mainColor: #151515;
    --secondColor: #dedede;
    --thirdColor: #9d9595;
    --accentColor: #090a5d;
    --secondAccentColor: #4f007a;
}