.home-page {
    background: var(--backgroundAccent);
    background: linear-gradient(360deg, var(--backgroundAccent) 0%, var(--backgroundMain) 35%);
    height: 100%;
    width: 100%;
    padding-right: 10px;
    padding-left: 80px;
}

.col-wrap {
    box-shadow: var(--shadow);
}

.img {
    transition: all 0.6s ease-in-out;
    width: 100%;
    box-shadow: var(--shadow);
    border: 1px solid var(--accentColor); 

    &:hover {
        box-shadow: 0px 0px 20px var(--accentColor);

    }

}


.list-group .list-group-item {
    color: var(--accentColor);
    background-color: var(--mainColor);
    border-color: var(--accentColor);
    transition: all 0.3s ease-in-out;
}

.list-group-item {
    width: 70px;
    overflow: hidden; 
    z-index: 1;
}

.list-group-item:hover {
    width:175px;
    box-shadow: var(--shadow);
    background-color: var(--accentColor);
    color: var(--secondColor)
}


.list-item-icon {
    padding-left: -5px;
    font-size: 35px;
    width: 40px;
    right: 400px;
}

.list-item-text {
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 70px;
    transform: translateY(-55%);
}

.web-icon {
    font-size: 40px;

    width: 80px; 
    height: 80px; 
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    margin: 10px;
    color: var(--secondColor);
    background-color: var(--mainColor);
    border: 1px solid var(--accentColor);
    box-shadow: var(--shadow);
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--accentColor);
        scale: 1.05;
    }
}

.social-icon {
    margin: 5px;
    font-size:30px;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: var(--secondColor);

    }
}

.list-stack {
    width:auto;
}

.accordion-home {
    background-color: var(--mainColor) !important;
    color: var(--accentColor) !important;
    border-color: var(--accentColor) !important;
}



@media(max-width: 992px) {
    // Tablet styles here
    .list-group-item {
        width: 50px;
    }

    .list-item-icon {
        font-size: 30px;
        width: 30px;
    }

    .list-item-text {
        font-size: 20px;
        left: 55px;
    }

    .web-icon {
        font-size: 30px;
        padding: 15px;
    }



}

@media(max-width: 768px) {
    // Mobile styles here
    .img-sticky {
        position: sticky;
        top: 100px;
    }

    .list-group-item {
        width: 35px;
    }
    
    .list-group-item:hover {
        width: 35px;
    }

    .list-item-icon {
        font-size: 25px;
        margin-left: -12px;
    }

    .list-item-text {
        padding-left:100px;
        font-size: 15px;
        left: 40px;
    }

    .web-icon {
        font-size: 25px;
        padding: 10px;
        width: 70px;
        height: 70px;
    }

}
