

.money-container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      'graph-div graph-div add-div'
      'display-div display-div display-div'
      'display-div display-div display-div';
}
  
  .graph-div {
    justify-self: center;
    align-self: start;
    grid-area: graph-div;
    width: 100%;
  }
  
  .add-div {
    justify-self: center;
    align-self: center;
    grid-area: add-div;
    width: 100%;
    height: 120%;
    display: grid;

  }
  
  .display-div {
    justify-self: start;
    align-self: center;
    grid-area: display-div;
    width: 100%;
    height: 100%;
  }

  
  

.money-page {
    margin-left: -10px;  
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--thirdColor);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.9s ease-in-out;

    &.add {
      background-color: #3dc257;
    }

    &.subtract {
      background-color: #c40606;
    }
}

div.money-comp-wrap {
    box-shadow: var(--shadow);
    border-radius: 25px;
    background-color: var(--mainColor);
    color: var(--secondColor);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 90vh;
    width: 900px;

    margin: 10px 10px 10px 10px;
  
}


.money-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    transition: all 0.3s ease-in-out;
    margin: 5px;
    box-shadow: var(--shadow);

    &.add{
      background-color: #3dc257;
      color: var(--mainColor);
      border: 2px solid #3dc257;

        &:hover {
            border: 2px solid #3dc257;
            background-color: var(--mainColor);
            color: #3dc257;
        }

        &.disabled {
          background-color: var(--thirdColor);
          color: #3dc257;
          border: 0px;
          cursor: default;
        }
    }
    &.subtract{
      background-color: #c40606;
      color: var(--mainColor);
      border: 2px solid #c40606;

        &:hover {
            border: 2px solid #c40606;
            background-color: var(--mainColor);
            color: #c40606;
        }

        &.disabled {
          background-color: var(--thirdColor);
          color: #c40606;
          border: 0px;
          cursor: default;

        }
    }
}


.money-input {
    border-width: 1px;
    width: 35%;
    height: 45px;
    background-color: var(--thirdColor);
    color: var(--secondColor);
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid var(--moneyAccent);

    &:focus{
      outline: none;
      border-bottom: 2px solid var(--secondColor)
    }
}

.btn-menu, .btn-menu.active {
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.btn-menu.active {
    color: var(--moneyAccent);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.money-scrollable {
    overflow-y: auto;
    max-height: 340px;
    padding-right: 20px;
    border-radius: 45px;
    overflow-x: hidden;
}

.money-component {
  position: relative;
  background-color: var(--thirdColor);
  border-color: var(--secondColor);
  box-shadow: var(--shadow);
  margin: 10px;
  border-radius: 15px;
  width: 200px;
  height: auto;
}

.money-amount {
  overflow: hidden;
  position: relative;
  left: 10px;
  font-weight: bold;
  font-size: 25px;
  width: 80%;
}

.money-cancel {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  color: #c40606;
  cursor: pointer;
}

.money-comp-purpose {
  background-color: var(--mainColor);
  border-radius: 25px;
  width: auto;
  padding:5px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  background-color: var(--mainColor);
  color: var(--secondColor)
}

.currency-button {
    position: absolute;
    top: 5vh;
    left: 85vw;
    display: flex;
    align-items: center;
  }
  
  .currency-item {
    position: relative; 
    border-radius: 25%;
    user-select: none;
    background-color: var(--mainColor);
    color: var(--secondColor);
    width: 70px;
    height: 70px;
    font-size: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    border: 0px;
    transition: all 0.3s ease-in-out;
  }
  
  .currency-left,
  .currency-right {
    color: var(--moneyAccent);
    transition: all 0.3s ease-in-out;
    position: absolute; 
    cursor: pointer;
    display: grid; 
    align-items: center; 
    justify-content: center; 
    width: 20px; 
    height: 20px; 
  
    &.currency-left {
      left: -30px;
    }
  
    &.currency-right {
      right: -30px;
    }
  
    &:hover {
      scale: 1.15;
    }
  }

.money-wrapper {
  width: 20vw;
  height: 20vh;
  background-color: var(--thirdColor);
  justify-items: center;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 45px;
  border-radius: 25px;
  box-shadow: var(--shadow);

  display: flex;
  align-items: center;
  justify-items: center;
}

.graph-wrapper {
  z-index: 6;
  width: 33vw;
  height: 30vh;
  background-color: var(--thirdColor);
  border-radius: 25px;
  margin: 25px;
  margin-bottom: 15px;
  box-shadow: var(--shadow);
}

.graph-show {
  height:1vh;
  transition: all 0.9s ease-in-out;

  border-radius: 25px;

  &.expenses {
    background-color: #ff9c40;

  }

  &.earnings {
    background-color: #3dc257;
  }
}

.graph-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.graph-text {
  position: absolute;
  z-index: 1;

  &.expenses {
    color: #949494;
    font-size: 12px;
    transform: translate(0%, -100%);
  }

  &.earnings {
    color: #949494;
    font-size: 12px;
    transform: translate(0%, 90%);
  }

  &.subtract {
    color: var(--secondColor);
    font-size: 22px;
    right: 1vw;
    transform: translate(0%, -100%);
  }

  &.add {
    color: var(--secondColor);
    font-size: 22px;
    right: 1vw;
    transform: translate(0%, 40%);
  }

}


.graph-icon {
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
  display: inline-block;

  &.expenses {
    background-color: #ff9c40;
  }

  &.earnings {
    background-color: #3dc257;

  }


}


.money-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  z-index: 99;
  &.active {
    transform: scale(1);
  }
}

.money-modal-content {
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--mainColor);

}

.modal-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.modal-button {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  transition: 0.3s ease-in-out;

  &.add {
    border: 2px solid #3dc257;
    width: 50%;
    background-color: #3dc257;
    color: var(--mainColor);
    &:hover {
      background-color: var(--mainColor);
      color: #3dc257;
    }
  }

  &.subtract {
    border: 2px solid #c40606;
    width: 50%;
    background-color: #c40606;
    color: var(--mainColor);
    &:hover {
      background-color: var(--mainColor);
      color: #c40606;
    }
  }
}

.money-input-wrap {
  display: flex;
  flex-direction: row;
}

.add-wrapper {
  overflow-y: hidden;
  max-height: 340px;
  overflow-y: auto;
  z-index: 90;
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
}

.add-content {
  width: 100%;
}

.progress-bar-container {
  width: 99%;
  height: 25px;
  background-color: #c2c2c2;
  border-radius: 10px;
  box-shadow: var(--shadow);
  overflow: hidden;
}

.progress-bar-money {
  transition: 0.3s ease-in-out;
  z-index: 2;
  height: 25px;
  
}

.progress-bar-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  

}

.progress-bar-hover {
  width: auto;
  height: auto;
  background-color: var(--mainColor);
}

.general-money-wrapper {
  background-color: var(--mainColor);
  padding: 10px;
  border-radius: 25px;
  margin-top: 10px;
  box-shadow: var(--shadow)
}

.money-table th, .money-table td {
  margin: 15px 0px 10px 0px;
  padding: 10px;
}


.money-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: var(--shadow);
  background-color: var(--thirdColor);
  border-radius: 15px;
}

.money-expand-table {
  padding: 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  &.earn {
    background-color: #3dc257;
    cursor: pointer;
    &:hover {
      background-color: #4be76a;
    }

    &.off {
      border-radius: 15px;
    }
  }

  &.subtract {
    background-color: #c40606;
    cursor: pointer;
    &:hover {
      background-color: #e00808;
    }

    &.off {
      border-radius: 15px;
    }
  }
}

.graph-axis {
  height: 30vh;
  background-color: #3dc257;
  margin: 15px 0px 10px 0px;
  box-shadow: var(--shadow);
  border-radius: 5px;
  
}


@media only screen and (max-width: 767px) {

  .money-container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      'graph-div'
      'add-div'
      'display-div';
  }
  
  .graph-div { grid-area: graph-div; }
  
  .add-div { grid-area: add-div; }
  
  .display-div { grid-area: display-div; }
  

}

/* For devices with width between 600px and 900px (like a tablet) */
@media only screen and (min-width: 600px) and (max-width: 900px) {

}

/* For devices with width more than 900px (like a desktop) */
@media only screen and (min-width: 900px) {

}
