$moneyEarn: #3dc257;
$moneySpend: #c40606;

.money-page {
  height: 100%;
  width: 100vw;
  background-color: var(--thirdColor);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.9s ease-in-out;

  &.add {
    background-color: $moneyEarn;
  }

  &.subtract {
    background-color: $moneySpend;
  }
}




.money-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    transition: all 0.3s ease-in-out;
    margin: 5px;
    box-shadow: var(--shadow);

    &.add{
      background-color: $moneyEarn;
      color: var(--mainColor);
      border: 2px solid $moneyEarn;

        &:hover {
            border: 2px solid $moneyEarn;
            background-color: var(--mainColor);
            color: $moneyEarn;
        }

        &.disabled {
          background-color: var(--thirdColor);
          color: $moneyEarn;
          border: 0px;
          cursor: default;
        }
    }
    &.subtract{
      background-color: $moneySpend;
      color: var(--mainColor);
      border: 2px solid $moneySpend;

        &:hover {
            border: 2px solid $moneySpend;
            background-color: var(--mainColor);
            color: $moneySpend;
        }

        &.disabled {
          background-color: var(--thirdColor);
          color: $moneySpend;
          border: 0px;
          cursor: default;

        }
    }

    &.goal{
      background-color: $moneyEarn;
      color: var(--mainColor);
      border: 2px solid $moneyEarn;

        &:hover {
            border: 2px solid $moneyEarn;
            background-color: var(--mainColor);
            color: $moneyEarn;
        }

        &.disabled {
          background-color: var(--thirdColor);
          color: $moneyEarn;
          border: 0px;
          cursor: default;
        }
    }
}


.money-input {
    border-width: 1px;
    width: 35%;
    height: 45px;
    background-color: var(--thirdColor);
    color: var(--secondColor);
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid var(--moneyAccent);

    &:focus{
      outline: none;
      border-bottom: 2px solid var(--secondColor)
    }

    &.goals {
      border-bottom: 2px solid $moneyEarn;

    }
}

.btn-menu, .btn-menu.active {
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.btn-menu.active {
    color: var(--moneyAccent);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.money-scrollable {
    overflow-y: auto;
    max-height: 340px;
    padding-right: 20px;
    border-radius: 45px;
    overflow-x: hidden;
}

.money-component {
  position: relative;
  background-color: var(--thirdColor);
  border-color: var(--secondColor);
  box-shadow: var(--shadow);
  margin: 10px;
  border-radius: 15px;
  width: 200px;
  height: auto;
}

.money-amount {
  overflow: hidden;
  position: relative;
  left: 10px;
  font-weight: bold;
  font-size: 25px;
  width: 80%;
}

.money-cancel {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  color: $moneySpend;
  cursor: pointer;
}

.money-comp-purpose {
  background-color: var(--mainColor);
  border-radius: 25px;
  width: auto;
  padding:5px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  background-color: var(--mainColor);
  color: var(--secondColor)
}

.currency-button {
    position: absolute;
    top: 5vh;
    left: 85vw;
    display: flex;
    align-items: center;
  }
  
  .currency-item {
    position: relative; 
    border-radius: 25%;
    user-select: none;
    background-color: var(--mainColor);
    color: var(--secondColor);
    width: 70px;
    height: 70px;
    font-size: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    border: 0px;
    transition: all 0.3s ease-in-out;
  }
  
  .currency-left,
  .currency-right {
    color: var(--moneyAccent);
    transition: all 0.3s ease-in-out;
    position: absolute; 
    cursor: pointer;
    display: grid; 
    align-items: center; 
    justify-content: center; 
    width: 20px; 
    height: 20px; 
  
    &.currency-left {
      left: -30px;
    }
  
    &.currency-right {
      right: -30px;
    }
  
    &:hover {
      scale: 1.15;
    }
  }

.money-wrapper {
  background-color: var(--thirdColor);


  border-radius: 25px;
  box-shadow: var(--shadow);

}

.graph-wrapper {
  z-index: 6;
  width: 33vw;
  height: 30vh;
  background-color: var(--thirdColor);
  border-radius: 25px;
  margin: 25px;
  margin-bottom: 15px;
  box-shadow: var(--shadow);
}

.graph-show {
  height:1vh;
  transition: all 0.9s ease-in-out;

  border-radius: 25px;

  &.expenses {
    background-color: #ff9c40;

  }

  &.earnings {
    background-color: $moneyEarn;
  }
}



.graph-text {
  z-index: 1;

  &.expenses {
    color: #949494;
    font-size: 12px;
  }

  &.earnings {
    color: #949494;
    font-size: 12px;
  }

  &.subtract {
    color: var(--secondColor);
    font-size: 22px;
  }

  &.add {
    color: var(--secondColor);
    font-size: 22px;
  }

}


.graph-icon {
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
  display: inline-block;

  &.expenses {
    background-color: #ff9c40;
  }

  &.earnings {
    background-color: $moneyEarn;

  }


}


.money-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  z-index: 99;
  &.active {
    transform: scale(1);
  }
}

.money-modal-content {
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--mainColor);

}

.modal-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.modal-button {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  transition: 0.3s ease-in-out;

  &.add {
    border: 2px solid $moneyEarn;
    width: 50%;
    background-color: $moneyEarn;
    color: var(--mainColor);
    &:hover {
      background-color: var(--mainColor);
      color: $moneyEarn;
    }
  }

  &.subtract {
    border: 2px solid $moneySpend;
    width: 50%;
    background-color: $moneySpend;
    color: var(--mainColor);
    &:hover {
      background-color: var(--mainColor);
      color: $moneySpend;
    }
  }
}

.money-input-wrap {
  display: flex;
  flex-direction: row;
}

.add-wrapper {
  overflow-y: hidden;
  max-height: 340px;
  overflow-y: auto;
  z-index: 90;
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
}

.add-content {
  width: 100%;
}

.progress-bar-container {
  width: 99%;
  height: 25px;
  background-color: #c2c2c2;
  border-radius: 10px;
  box-shadow: var(--shadow);
  overflow: hidden;
}

.progress-bar-money {
  transition: 0.3s ease-in-out;
  z-index: 2;
  height: 25px;
  
}

.progress-bar-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  

}

.progress-bar-hover {
  width: auto;
  height: auto;
  background-color: var(--mainColor);
  

}

.general-money-wrapper {
  background-color: var(--mainColor);
  padding: 10px;
  border-radius: 25px;
  box-shadow: var(--shadow);
  width: 100%;
  height: auto;

  &.graph {
    z-index: 6;
    width: auto;
    height: auto;
    background-color: var(--thirdColor);
    border-radius: 25px;

    box-shadow: var(--shadow);
  }

  &.goal {
    border-radius: 15px;
    padding: 0px;
    background-color: var(--thirdColor);
  }
}

.money-table th, .money-table td {
  margin: 15px 0px 10px 0px;
  padding: 10px;
}


.money-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: var(--shadow);
  background-color: var(--thirdColor);
  border-radius: 15px;
}

.money-expand-table {
  padding: 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  transition: background-color 0.3s ease-in-out;

  &.earn {
    background-color: $moneyEarn;
    color: var(--mainColor);
    cursor: pointer;
    &:hover {
      background-color: var(--mainColor);
      color: $moneyEarn;
    }

    &.off {
      border-radius: 15px;
    }
  }

  &.subtract {
    background-color: $moneySpend;
    color: var(--mainColor);
    cursor: pointer;
    &:hover {
      color: $moneySpend;
      background-color: var(--mainColor);
    }

    &.off {
      border-radius: 15px;
    }
  }
}

.graph-axis {
  background-color: var(--thirdColor);
  margin: 15px 0px 10px 0px;
  box-shadow: var(--shadow);
  border-radius: 5px;
  
}

.money-goal-button {
  border: 1px solid $moneyEarn;
  outline: none;
  background-color: $moneyEarn;
  color: var(--mainColor);
  box-shadow: var(--shadow);
  padding: 10px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--mainColor);
    color: $moneyEarn;
  }


}


@media only screen and (max-width: 767px) {

  .money-container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      'graph-div'
      'add-div'
      'display-div';
  }
  
  .graph-div { grid-area: graph-div; }
  
  .add-div { grid-area: add-div; }
  
  .display-div { grid-area: display-div; }
  

}

/* For devices with width between 600px and 900px (like a tablet) */
@media only screen and (min-width: 600px) and (max-width: 900px) {

}

/* For devices with width more than 900px (like a desktop) */
@media only screen and (min-width: 900px) {

}
