html[data-theme='dark'] {

}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 25px;
    }
    
    .graph1-div { grid-area: 1 / 1 / 2 / 3; }
    .add-div { grid-area: 1 / 3 / 2 / 4; }
    .display-div { grid-area: 2 / 1 / 3 / 4; }

.money-page {
    margin-left: -10px; 
    background-color: var(--thirdColor);
    display: flex;
    justify-content: center;
    align-items: center;
}


div.money-comp-wrap {
    box-shadow: 2px 2px 10px #929292;
    border-radius: 25px;
    background-color: var(--mainColor);
    color: var(--secondColor);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 90vh;
    width: 900px;

    margin: 10px 10px 10px 30px;
  
}


.money-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;

    &.add{
        background-color: #3dc257;
        color: var(--mainColor);
    }
    &.subtract{
        background-color: #c70000;
        color: var(--mainColor);
    }
}


.money-input {
    border-width: 1px;
    width: auto;
    height: 45px;
    margin-right: 10px;
    border-radius: 25px;
    border-color: var(--accentColor);
    background-color: var(--mainColor);
    color: var(--secondColor);
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
    padding-right: 45px;
    font-size: 20px;
    
    &:focus {
        outline: none;
        box-shadow: 3px 3px var(--accentColor);
    }
}

.btn-menu {
    width: 100px;
    height: 50px;
}

@media only screen and (max-width: 767px) {

}

/* For devices with width between 600px and 900px (like a tablet) */
@media only screen and (min-width: 600px) and (max-width: 900px) {

}

/* For devices with width more than 900px (like a desktop) */
@media only screen and (min-width: 900px) {

}
