.sidenav, .sidenav-uncollapsed {
    height: 100vh;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--accentColor);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    transition: all 0.6s ease-in-out;
    white-space: nowrap;
    box-shadow: 0px 0px 20px var(--accentColor);
    border-color: var(--mainColor);
}

.sidenav-uncollapsed {
    width: 300px;
}

.sidenav-item {
    padding: 8px 8px;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    color: var(--secondAccentColor);
    display: block;
    transition: all 0.3s ease-in-out;
}

.sidenav-item:hover {
    color: var(--mainColor);
    background-color: var(--secondColor);
    cursor: pointer;
}

.sidenav-item-icon {
    padding: 5px;
    font-size: 35px;
    width: 40px;
}

.sidenav-item-text {
    position: absolute;
    top: 50%;
    left: 70px; /* adjust this to move horizontally */
    transform: translateY(-55%);
}

.theme-button {
    position: absolute;
    top: 60%;
    left: 9px; /* adjust this to move horizontally */
}

.collapse-button, .collapse-button-uncollapsed {
    border-color: var(--accentColor);
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--mainColor);
    border-radius: 100px;
    margin-left: 70px;
    transition: all 0.6s ease-in-out;
}

.collapse-button-uncollapsed {
    margin-left: 300px;
}

.collapse-button:hover {
    box-shadow: 0px 0px 20px var(--accentColor);
    transform: scale(105%);
}

.collapse-button-arrow {
    color: var(--secondColor);
    transition: all 0.6s ease-in-out;
}
