.sidenav{
    height: 100vh;
    width: 70px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: var(--mainColor);
    overflow: hidden;
    padding-top: 20px;
    transition: all 0.6s ease-in-out;
    white-space: nowrap;
    border-right: 1px solid var(--accentColor);
}

.sidenav:hover {
    width: 350px;
    box-shadow: 0px 0px 20px var(--accentColor);
    overflow-y: scroll;
}

.sidenav-item {
    padding: 8px 8px;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    color: var(--secondColor);
    display: block;
    transition: all 0.3s ease-in-out;
}

.sidenav-item:hover {
    z-index: 5;
    color: var(--mainColor);
    background-color: var(--accentColor);
    cursor: pointer;
}

.sidenav-item-icon {
    padding: 5px;
    font-size: 35px;
    width: 40px;
}

.sidenav-item-text {
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-55%);
}

.theme-button {  
    margin-top: 25px;
    left: 5px; 
    z-index: 2;
}

::-webkit-scrollbar {
    width: 5px;
    }

::-webkit-scrollbar-track {
    background: transparent !important;
}
::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius:
    10px;
}

@media only screen and (max-width: 600px) {
    .sidenav {padding-top: 15px; width:70px}
    .sidenav-item {font-size: 18px;}
    .sidenav:hover {width:70px; box-shadow: 0px 0px 0px;}
    .sidenav-item:hover {color: var(--secondColor); background-color: var(--mainColor);}
}
