$mainColor: #e1e1e1;
$secondColor: #1a1617;
$thirdColor: #312F2F;
$accentColor: #F3A712;
$secondAccentColor: #E4572E;


.sidenav {
    height: 100%; 
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: $secondAccentColor; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  

  .sidenav-item {
    padding: 10px 8px 10px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $mainColor;
    display: block;
    transition: all 0.3s ease-in-out;
  }


  .sidenav-item:hover {
    color: $accentColor;
    background-color: $thirdColor;
  }
  

  .main {
    margin-left: 300px; 
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav-item {font-size: 18px;}
  }