html[data-theme='light'] {
    --taskComplete: #d5d5d5;

}

html[data-theme='dark'] {
    --taskComplete: #363636; 
}

.todo-page {
    width: calc(100% + 20px);
    margin-left: -10px;
    background-color: var(--backgroundToDoMain);
    background: linear-gradient(to left, var(--backgroundToDoMain), var(--backgroundToDoSecond));
}

.form-todo {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 25px;
}


@mixin buttonHover {
    background-color: var(--mainColor);
    color: var(--backgroundToDoSecond);
    border-width: 1px;
    border-color: var(--backgroundToDoSecond);
}

@mixin buttonDefault {
    background-color: var(--backgroundToDoSecond);
    color: var(--mainColor);
    width:45px;
    height:45px;
    margin-left: -50px;
    border-radius: 50%;
    border-color: var(--backgroundToDoSecond);
    transition: all 0.3s ease-in-out;
    border-width: 0px;
    
    &:hover {
        @include buttonHover;
    }
}

@mixin inputTodoDefault {
    border-width: 1px;
    width: auto;
    height: 45px;
    margin-right: 10px;
    border-radius: 25px;
    border-color: var(--backgroundToDoSecond);
    background-color: var(--mainColor);
    color: var(--secondColor);
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
    padding-right: 45px;
    font-size: 20px;
    
    &:focus {
        outline: none;
        box-shadow: 3px 3px var(--backgroundToDoMain);
    }
}

.add-task-button {

    @include buttonDefault;
}

.input-todo {
    @include inputTodoDefault;
}

.todo-icon {
    cursor: pointer;
}

.task-row, .task-row.complete {
    position: relative;
    background-color: var(--mainColor);
    color: var(--secondColor);
    box-shadow: 2px 2px 10px var(--secondColor);
    width: auto;
    height: 80px;
    margin: 15px 15px 30px 15px; 
    padding: 15px;
    padding-left: 45px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    font-size: 25px;
    cursor: grab;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 80px;
        top:0px;
        left: 0px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;        
        background-color: var(--taskBgColor);
        transition: all 0.3s ease-in-out;

    }

    &:hover {
        scale: 1.007;
    }

    &:hover::before{
        filter: brightness(150%);
    }
}

.task-row.complete {
    background-color: var(--taskComplete); 

    &:hover {
        scale: 1;
    }
}


.task-content {
    overflow-x: auto;
    overflow-y: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.col-wrap-todo {
    border-radius: 95px;
    background-color: var(--mainColor);
    box-shadow: 2px 2px 10px var(--secondColor);

}

.col-wrap-todo h1 {
    color: var(--backgroundToDoSecond);
}

.task-per-row {
    margin-top: -15px;
}


@media only screen and (max-width: 767px) {

    .task-per-row {
        display: none;
    }


    .col-wrap-todo {
        border-radius: 15px;
        margin-right: 15px;
    }
}

/* For devices with width between 600px and 900px (like a tablet) */
@media only screen and (min-width: 600px) and (max-width: 900px) {

}

/* For devices with width more than 900px (like a desktop) */
@media only screen and (min-width: 900px) {

}
