html[data-theme='light'] {
    --mainColor: #ffffff;
    --secondColor: #151515;
    --thirdColor: #ececec;
    --accentColor: #a63a3a; 
    --backgroundMain: #f8f8f8;
    --backgroundAccent: #7e2424;

    --shadow-color: 0deg 0% 42%;

    --backgroundToDoMain: #b993d6;
    --backgroundToDoSecond: #8ca6db;
}

html[data-theme='dark'] {
    --mainColor: #1d1d1d; 
    --secondColor: #ffffff; 
    --thirdColor: #151515; 
    --accentColor: #fcda40;
    --backgroundMain: #151515;
    --backgroundAccent: #d1b42e;

    --shadow-color: 0deg 0% 0%;

    --backgroundToDoMain: #556270;
    --backgroundToDoSecond: #ff6b6b;
}


html, body, #root, .todo-page, .money-page {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;

    --shadow:
    0.2px 0.1px 0.3px hsl(var(--shadow-color) / 0),
    0.9px 0.8px 1.8px hsl(var(--shadow-color) / 0.27),
    1.9px 1.7px 3.8px hsl(var(--shadow-color) / 0.55),
    3.9px 3.4px 7.8px hsl(var(--shadow-color) / 0.82);
    
}

#root {

    color: var(--secondColor);
    transition: background-color 400ms linear;
    padding: 0px 10px;
    font-family: 'AndikaNewBasicRegular';
    font-weight: normal;
    font-style: normal;
}

.main {
    margin-left: 80px;
}

.col-wrap {
    border: 1px solid var(--accentColor);
    border-radius: 15px;
    background-color: var(--mainColor);
}

.col-wrap h1 {
    color: var(--accentColor);
}


.button-style {
    position: relative;
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--accentColor) !important;
    color: var(--secondColor) !important;
    border-color: var(--accentColor) !important;
    transition: all 0.3s ease-in-out !important;

}

.button-style:hover {
    background-color: var(--mainColor) !important;
    color: var(--accentColor) !important;
}


::selection {
    background-color: var(--backgroundAccent);
}