html[data-theme='light'] {
    --mainColor: #ffffff;
    --secondColor: #151515;
    --thirdColor: #ececec;
    --accentColor: #ffd321; 
    --secondAccentColor: #e4e4e4;
    --backgroundMain: #eeeeee;
    --backgroundAccent: #f1cc34;

    --backgroundToDoMain: #b993d6;
    --backgroundToDoSecond: #8ca6db;
}

html[data-theme='dark'] {
    --mainColor: #1d1d1d; 
    --secondColor: #ffffff; 
    --thirdColor: #151515; 
    --accentColor: #ffd321;
    --secondAccentColor: #151515;
    --backgroundMain: #151515;
    --backgroundAccent: #9e8215;

    --backgroundToDoMain: #556270;
    --backgroundToDoSecond: #ff6b6b;
}


html, body, #root, .todo-page {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}




#root {
    background: var(--backgroundAccent);
    background: linear-gradient(360deg, var(--backgroundAccent) 0%, var(--backgroundMain) 35%);
    color: var(--secondColor);
    transition: background-color 400ms linear;
    padding: 0px 10px;
    font-family: 'AndikaNewBasicRegular';
    font-weight: normal;
    font-style: normal;
}

.main {
    margin-left: 80px;
}

.todo-page {
    width: calc(100% + 20px);
    margin-left: -10px;
    background-color: var(--backgroundToDoMain);
    background: linear-gradient(to left, var(--backgroundToDoMain), var(--backgroundToDoSecond));
}


.col-wrap {
    border: 1px solid var(--accentColor);
    border-radius: 15px;
    background-color: var(--mainColor);
}

.col-wrap h1 {
    color: var(--accentColor);
}


.button-style {
    position: relative;
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--accentColor) !important;
    color: var(--secondColor) !important;
    border-color: var(--accentColor) !important;
    transition: all 0.3s ease-in-out !important;

}

.button-style:hover {
    background-color: var(--mainColor) !important;
    color: var(--accentColor) !important;
}


::selection {
    background-color: var(--backgroundAccent);
}