html[data-theme='light'] {
    --mainColor: #ffffff;
    --secondColor: #151515;
    --thirdColor: #dfdfdf;
    --accentColor: #ffd321;
    --secondAccentColor: #e4e4e4;
}

html[data-theme='dark'] {
    --mainColor: #1d1d1d; /* Dark background, basically switching the second color */
    --secondColor: #ffffff; /* White text color for readability on dark background */
    --thirdColor: #151515; /* A slightly lighter shade of the main dark color this could be used for card backgrounds or secondary elements */
    --accentColor: #ffd321; /* Keeping the same yellow accent color. Should work well on both light and dark themes */
    --secondAccentColor: #151515; /* A darker gray for secondary accents, less contrast with the main color than the light theme */
}



#root {
    margin: 0;
    padding: 0;
    background-color: var(--mainColor);
    color: var(--secondColor);
    height: 100vh;
    width: 100%;
    transition: background-color 400ms linear;
    padding: 0px 10px;
}

.main {
    margin-left: 80px;
}





@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav-item {font-size: 18px;}
}
